{% extends "template.html" %}
{% block title %}My Profile{% endblock %}

{% block content%}

<div class="container">
	<div class="row">

		<div class="col-md-8 col-md-offset-2">

			<h1>Create Post</h1>

			<form action="" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label for="description">Share something that you have explored! *</label>
					<textarea rows="5" class="form-control" name="description" required name="description"></textarea>
				</div> 
                 <br>
				 <br>
				<div class="form-group">
					<label for="description">Pin your Location:</label>
				<br><br>
					<label for="latitude">
						Latitude:
					</label>
					<input name="latitude" id="txtLat" type="text" style="color:red" />
					<label for="longitude">
						Longitude:
					</label>
					<input name="longitude" id="txtLng" type="text" style="color:red" /><br />
					<br />
					<br />
					<div id="map_canvas" style="width: auto; height: 400px;">
					</div>
				</div>
				<br>
				<br>
				<div class="form-group">
					<label for="description">Upload Images and videos </label>
					<input type="file" multiple name="files" />
				</div>
				<br>
				<br>

				<div class="form-group">
					<p><span class="require">*</span> - required fields</p>
				</div>
				<br>
				<br>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">
						Create
					</button>
					<button class="btn btn-default">
						Cancel
					</button>
				</div>

			</form>
		</div>

	</div>


	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Your Posts:</h1>
		</div>
	</div>
	{%if data%}
	{%for res in data%}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div style="border: black;width:950px;background-color:white;padding: 20px;margin-top: 20px;">
				<table class="pull-right">
					<tr>
						<td style="margin: 10px; padding: 5px;">
							<form action="/edit" method="POST"><button name='edit' type="submit"
									class="btn btn-primary " value={{res[0]}}>Edit</button></form>


						</td>
						<td style="margin: 10px; padding: 5px;">
							<form action="/myprofiledelete" method="POST"><button name='delete' type="submit"
									class="btn btn-danger " value={{res[0]}}>Delete</button></form>

						</td>
					</tr>

				</table>
				<h2>{{res[1]}}</h2>
				<h5>{{res[2]}} &nbsp; {{res[7]}}</h5>
				<img src="static/postimages/{{res[4]}}">
				<h3>{{res[3]}}</h3>
				<table cellspacing="10" cellpadding="5">
					<tr>
						<td style="margin: 10px; padding: 5px;">
							<form action="/myprofilelike" method="POST">
								<button class="btn btn-primary btn-sm shadow-none" name="like"
									value={{res[0]}}>{{res[6]}}&nbsp;Like&nbsp;<i
										class="glyphicon glyphicon-thumbs-up"></i></button>
							</form>
						</td>

						<br>
						<td style="margin: 10px; padding: 5px;">
							<button class="btn btn-primary btn-sm shadow-none">Share&nbsp;<i
									class='glyphicon glyphicon-send'></i></button>
						</td>
					</tr>
				</table>
				<br>
				<form action="/addcomment" method="POST">
					<div class="bg-white p-2">
						<textarea hidden name='page'>myprofile</textarea>
						<div class="d-flex flex-row align-items-start"><textarea
								class="form-control ml-1 shadow-none textarea" placeholder="Add a comment..."
								name='comment'></textarea>
						</div>
						<br>
						<div class="mt-2 text-right"><button name='cbutton' value={{res[0]}}
								class="btn btn-primary btn-sm shadow-none" type="submit">Post
								comment</button>
						</div>
					</div>
				</form>
				{%if comments%}
				<h1>Comments</h1>
				{%for comment in comments%}
				{%if comment[1]==res[0]%}
				<div id={{res[0]}}>
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-6 col-12 pb-4">
								<div class="text-justify darker mt-4 float-left">
									<img hidden src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle"
										width="40" height="40">
									<h4>{{comment[2]}}</h4> <span>- {{comment[4]}}</span> <br><br>
									<p>{{comment[3]}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{%endif%}
				{%endfor%}
				{%endif%}
			</div>
		</div>

	</div>
	<br>
	{%endfor%}
	{%endif%}
</div>
{%endblock%}